// Place all the styles related to the admin_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-results {
  text-align: center;
  margin-top: 40px;
}

.search-options {
  h4 {
    text-align: center;
  }
}

.submit-button {
  margin: 25px 45%;
}
