// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.work-status {
  width: 75%;
  text-align: center;
  margin: 15px auto;
}

.looking-for-work {
  padding: 25px 10px;
  border-radius: 5px;
  &.success {
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
  }
  &.danger {
    background-color: #F2DEDE;
    border: 1px solid #A94442;
  }
}

.notes-section {
  width: 75%;
  margin: auto;
  text-align: center;

  label {
    margin-bottom: 10px;
  }

  .btn.btn-primary {
    margin: 15px;
  }
}

.suggestion-box {
  text-align: left;
  margin: 30px 0px;
  padding: 10px 0px 30px;
  text-align: center;

  h3 {
    text-align: center;
    margin-bottom: 25px;
  }

  li {
    margin: 5px;
  }
}

.user-info {
  margin: 25px auto;
  text-align: center;
}

.submit-buttons {
  margin: 15px auto 125px;
}

.interests-new {
  margin-left: 0 !important;
}

.hint {
  font-size: 13px;
}

#resource-dropdowns {
  padding: 1px;

  li {
    display: inline-block;
  }
}
